@{
    ViewBag.Title = "Confirmacion reestablecer contraseña";
}

<p>
    Tu contraseña ha sido reestablecida. Haga <a asp-controller="Auth" asp-action="Login">click aqui para iniciar sesion</a>.
</p>