@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model PsychologyTest.ViewModels.AdminViewModels.AddQuestionsToTestViewModel

@{
    ViewData["Title"] = $"Agregar preguntas a {@Model.Nombre}";
}

@section UserActions{
    <ul class="nav navbar-nav">
        @if (@ViewBag.UserRol == "Root")
        {
            <li><a asp-area="" asp-controller="Root" asp-action="UsersManage">Usuarios</a> </li>
        }
        <li><a asp-area="" asp-controller="Admin" asp-action="InstitutionsManage">Instituciones</a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="GroupsManage">Grupos</a></li>
        <li class="active"><a asp-area="" asp-controller="Admin" asp-action="TestManage">Test</a></li>
    </ul>
}

<div class="page-header">
    <h1>Agregue preguntas a @Model.Nombre</h1>
</div>

<div>
    <input asp-for="Id" readonly hidden type="text"/>
    <div id="content"></div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="@Url.Content("~/js/addquestionstotest.jsx")"></script>
}