@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model PsychologyTest.ViewModels.AdminViewModels.CreateTestViewModel

@{
    ViewData["Title"] = "Nueva prueba psicologica";
}

@section UserActions{
    <ul class="nav navbar-nav">
        @if (@ViewBag.UserRol == "Root")
        {
            <li><a asp-area="" asp-controller="Root" asp-action="UsersManage">Usuarios</a> </li>
        }
        <li><a asp-area="" asp-controller="Admin" asp-action="InstitutionsManage">Instituciones</a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="GroupsManage">Grupos</a></li>
        <li class="active"><a asp-area="" asp-controller="Admin" asp-action="TestManage">Test</a></li>
    </ul>
}

<div class="page-header">
    <h1>Nueva prueba psicologica</h1>
</div>

<form class="form-horizontal" method="post" novalidate>
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label asp-for="Nombre" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input asp-for="Nombre" class="form-control" placeholder="Titulo del test" type="text">
            <span asp-validation-for="Nombre"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Descripcion" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <textarea asp-for="Descripcion" class="form-control" rows="4" placeholder="Agregue una descripcion que pueda guiar a su correcta finalizacion a quienes responan el test. Recuerde que puede usar el formato MarkDown para hacer mas expresiva esta descripcion."></textarea>
            <span asp-validation-for="Descripcion"></span>
        </div>
    </div>

    <hr/>
    <h4>Si ya termino con el titulo y la descripcion presione el boton Continuar para que pueda agregar las preguntas.</h4>

    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Limpiar</button>
            <button type="submit" class="btn btn-primary">Continuar</button>
        </div>
    </div>

</form>