@model PsychologyTest.ViewModels.InstitucionViewModel

@{
    ViewBag.Title = "Editar Institucion";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@section UserActions{
    <ul class="nav navbar-nav">
        @if (@ViewBag.UserRol == "Root")
        {
            <li><a asp-area="" asp-controller="Root" asp-action="UsersManage">Usuarios</a> </li>
        }
        <li class="active"><a asp-area="" asp-controller="Admin" asp-action="InstitutionsManage">Instituciones</a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="GroupsManage">Grupos</a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="TestManage">Test</a></li>
    </ul>
}

<h1>Editando institucion: @Model.Nombre</h1>

<form class="form-horizontal" method="post" novalidate>
    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-group">
        <label asp-for="Nit" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input asp-for="Nit" class="form-control" type="text" />
            <span asp-validation-for="Nit"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Nombre" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input asp-for="Nombre" class="form-control" type="text" />
            <span asp-validation-for="Nombre"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Direccion" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input asp-for="Direccion" class="form-control" type="text" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Telefono" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input asp-for="Telefono" class="form-control" type="text" />
            <span asp-validation-for="Telefono"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Ciudad" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input asp-for="Ciudad" class="form-control" type="text" />
            <span asp-validation-for="Ciudad"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="SitioWeb" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input asp-for="SitioWeb" class="form-control" type="text" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-8 col-lg-offset-4">
            <button class="btn btn-primary" type="reset">Limpiar</button>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
    </div>

</form>