@section UserActions{
    <ul class="nav navbar-nav">
        @if (@ViewBag.UserRol == "Root")
        {
            <li><a asp-area="" asp-controller="Root" asp-action="UsersManage">Usuarios</a> </li>
        }
        <li><a asp-area="" asp-controller="Admin" asp-action="InstitutionsManage">Instituciones</a></li>
        <li class="active"><a asp-area="" asp-controller="Admin" asp-action="GroupsManage">Grupos</a></li>
        <li><a asp-area="" asp-controller="Admin" asp-action="TestManage">Test</a></li>
    </ul>
}