@{
    ViewData["Title"] = "Inicio";
}

<div class="row">
    <div class="jumbotron">
        <h1>Psychology Test</h1>
        <p>Bienvenido! Para empezar a usar la plataforma primero debe registrarse o iniciar sesion si ya se ha registrado antes.</p>
        <div class="form-group">
            <a asp-area="" asp-controller="Auth" asp-action="Login" class="btn btn-default btn-lg">INICIAR SESION</a>
            <a asp-area="" asp-controller="Auth" asp-action="SignUp" class="btn btn-primary btn-lg">REGISTRARSE</a>
        </div>
    </div>
</div>
