@{
    ViewData["Title"] = "Home Page";
}

@section UserActions{
<ul class="nav navbar-nav">
    <li><a href="#">Cositas</a></li>
    <li><a href="#">Por</a></li>
    <li><a href="#">Implementar</a></li>
</ul>
}

<h2>Bienvenido</h2>