@using NuGet.Protocol.Core.v3
@{
    ViewData["Title"] = "Debe verificarse";
}

@section UserActions{
<ul class="nav navbar-nav">

</ul>
}

<h2>Bienvenido</h2>
<p>Debe esperar a que un administrador confirme su rol dentro de la plataforma.</p>